# Práctica 1 - Teoría de la Información

Alejandra Gavino-Dias González

In [2]:
import numpy as np
from scipy.stats import entropy
import pandas as pd

#### Importamos los datos

In [4]:
tabla=pd.read_csv('weather-nominal-weka.csv')
tabla

     outlook temperature humidity  windy play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

***

# Hallar la ganancia de información para cada atributo usando entropía

### entropía del atributo play

In [5]:
tabla.iloc[:,4].value_counts(normalize=True)

play
yes    0.642857
no     0.357143
Name: proportion, dtype: float64

In [8]:
H = entropy(tabla.iloc[:,-1].value_counts(normalize=True), base=2)
print("La entropia para play es: ",H)

La entropia para play es:  0.940285958670631

In [9]:
table = tabla.loc[tabla["outlook"] == "sunny"]
table

   outlook temperature humidity  windy play
0    sunny         hot     high  False   no
1    sunny         hot     high   True   no
7    sunny        mild     high  False   no
8    sunny        cool   normal  False  yes
10   sunny        mild   normal   True  yes

In [10]:
entropy(table.iloc[:,-1].value_counts(normalize=True),base=2)

0.9709505944546688

## Ganancia de Información - Entropía de cada atributo

$G(S,A) = H(S)-\sum_{i=1}^k\frac{|S_{v_i}|}{|S|}H(S_{v_i})$

In [35]:
print("Ganancia de Información (Entropía)\n")
G = []
l = len(tabla)
for atributo in tabla.columns[:-1]:
    G.append(H)
    for v in tabla[atributo].unique():
        table = tabla.loc[tabla[atributo] == v]
        G[-1] -= (len(table)/l)*entropy(table.iloc[:,-1].value_counts(normalize=True), base=2)
    print("G(",atributo,") =", G[-1])
print("\nGanancia en Información máxima (Entropía) con: -",tabla.columns[np.argmax(G)],"-")

Ganancia de Información (Entropía)

G( outlook ) = 0.246749819774439
G( temperature ) = 0.029222565658954758
G( humidity ) = 0.15183550136234159
G( windy ) = 0.04812703040826943

Ganancia en Información máxima (Entropía) con: - outlook -

### Indice de Gini para cada atributo

$Gini = 1-\sum_{i=1}^np(c_i)^2$

In [36]:
def gini(x):
    G=1.0
    for c in np.unique(x):
        #da la lista de valores diferentes
        G -= np.mean(c==x)**2
    return G

In [37]:
gini_total = gini(tabla.iloc[:,-1])
gini_total

0.4591836734693877

In [38]:
print("Indice de Gini: \n")
i=0
for atributo in tabla.columns:
    print("Gini(",atributo,") =",gini(tabla.iloc[:,i]))
    i +=1

Indice de Gini:

Gini( outlook ) = 0.663265306122449
Gini( temperature ) = 0.653061224489796
Gini( humidity ) = 0.5
Gini( windy ) = 0.48979591836734704
Gini( play ) = 0.4591836734693877

## Ganancia de Información - Índice de Gini de cada atributo

In [28]:
print("Ganancia de Información (Gini)\n")
Gi = []
l = len(tabla)
for atributo in tabla.columns[:-1]:
    Gi.append(gini_total)
    for v in tabla[atributo].unique():
        table = tabla.loc[tabla[atributo] == v]
        Gi[-1] -= (len(table)/l)*gini(table.iloc[:,-1].value_counts(normalize=True))
    print("G(",atributo,") =", Gi[-1])
print("\nGanancia en Información máxima (Gini) con: -",tabla.columns[np.argmax(Gi)],"-")

Ganancia de Información (Gini)

G( outlook ) = 0.10204081632653053
G( temperature ) = 0.10204081632653059
G( humidity ) = -0.04081632653061229
G( windy ) = 0.173469387755102

Ganancia en Información máxima (Gini) con: - windy -